a#top_logo{
  padding-top:0px;
  margin-top:-2px;
  padding-left:10px;
  margin-right:-25px;
  background:url(/static/img/top_logo.png);
  background-repeat: no-repeat;
  width:170px;
}

a#top_logo:hover {
  background:url(/static/img/top_logo_hover.png);
}

p.title{
  font-size: 30px;
  color: white;
  text-shadow: 2px  2px 5px red,
  -2px  2px 5px red,
  2px -2px 5px red,
  -2px -2px 5px red;
}
p.copy{
  text-align: center;
}
h2.dojoTitle{
  text-align: center;
}
h4.profile{
}
img.icon{
  float: left;
  width: 180px;
  height: 200px;
}

dd{
  margin-bottom: 10px;  
}



/* smart phones */
@media screen and (max-device-width: 480px) {
}
