div.container-fluid{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ffd6a1');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ffd6a1')";
  background-image: -moz-linear-gradient(top, #ffffff, #ffd6a1);
  background-image: -ms-linear-gradient(top, #ffffff, #ffd6a1);
  background-image: -o-linear-gradient(top, #ffffff, #ffd6a1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffd6a1));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffd6a1);
  background-image: linear-gradient(top, #ffffff, #ffd6a1);

  border: 0 none;

}

div.navbar-header{
  height:80px;
  margin-top:20px;
  padding-left:20px;
}

a#top_logo{
  margin-top:50px;
  padding-top:30px;
  margin-top:-2px;
  padding-left:10px;
  margin-right:-25px;
  background:url(/static/img/top_logo_mitekafe.png);
  background-repeat: no-repeat;
  height:80px;
  width:250px;
}

a#top_logo:hover {
  background:url(/static/img/top_logo_mitekafe_hover.png);
  background-repeat: no-repeat;
}

div.collapse{
  margin-top:45px;
}

p.title{
  font-size: 30px;
  color: white;
  text-shadow: 2px  2px 5px red,
  -2px  2px 5px red,
  2px -2px 5px red,
  -2px -2px 5px red;
}
p.copy{
  text-align: center;
}
h2.dojoTitle{
  text-align: center;
}
h4.profile{
}
img.icon{
  float: left;
  width: 180px;
  height: 200px;
}

dd{
  margin-bottom: 10px;  
}



/* smart phones */
@media screen and (max-device-width: 480px) {
}
