p.title{
  font-size: 30px;
  color: white;
  text-shadow: 2px  2px 5px red,
  -2px  2px 5px red,
  2px -2px 5px red,
  -2px -2px 5px red;
}
p.copy{
  text-align: center;
}
h2.dojoTitle{
  text-align: center;
}
h4.profile{
}
img.icon{
  float: left;
  width: 180px;
  height: 200px;
}

